In [1]:
import pandas as pd

df = pd.DataFrame([
[1,1,'2010-02-05',24924.5,False],
[1,1,'2010-02-12',46039.49,True],
[1,1,'2010-02-19',41595.55,False],
[1,1,'2010-02-26',19403.54,False],
[1,1,'2010-03-05',21827.9,False],
[1,1,'2010-03-12',21043.39,False],
[1,1,'2010-03-19',22136.64,False],
[1,1,'2010-03-26',26229.21,False],
[1,1,'2010-04-02',57258.43,False]
], columns=['Store','Dept','Date','Weekly_Sales','IsHoliday'])

temp_df = []
for row in df.itertuples(index=False):
    if row.IsHoliday:
        temp_df.extend([list(row)]*5)
    else:
        temp_df.append(list(row))

df = pd.DataFrame(temp_df, columns=df.columns)

In [2]:
df

    Store  Dept        Date  Weekly_Sales  IsHoliday
0       1     1  2010-02-05      24924.50      False
1       1     1  2010-02-12      46039.49       True
2       1     1  2010-02-12      46039.49       True
3       1     1  2010-02-12      46039.49       True
4       1     1  2010-02-12      46039.49       True
5       1     1  2010-02-12      46039.49       True
6       1     1  2010-02-19      41595.55      False
7       1     1  2010-02-26      19403.54      False
8       1     1  2010-03-05      21827.90      False
9       1     1  2010-03-12      21043.39      False
10      1     1  2010-03-19      22136.64      False
11      1     1  2010-03-26      26229.21      False
12      1     1  2010-04-02      57258.43      False